.about {
    background-color: aquamarine;
    color:dodgerblue
}
.dog-p{
    color: aqua;
}

h2 {
    background-color: aquamarine;
}

.row{
    padding:0px 150px ;
}

.table-2{
    color: aqua;
}

.titel{
    font-size: x-large;
    background-color: aquamarine;
}
label{
    display: inline-block;
    width: 70px;
    margin:bottom
}

.submit-box{
    margin: 0px 73px;
}