.about {
    background-color: aquamarine;
}
.dog-p{
    color: aqua;
}

h2 {
    background-color: aquamarine;
}

.row{
    padding:0px 150px ;
}

.table-2{
    color: aqua;
}

.titel{
    font-size: x-large;
    background-color: aquamarine;
}